# R project files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# macOS files
.DS_Store

# Data files
data/raw_data/*
data/metadata/*
data/external_data/*
data/processed_data/*

# Except files needed for visualization of peptide-level correlations and publicly available data from UniProt and the Human Plasma PeptideAtlas
!data/processed_data/plasma_data_FASTA3.RDS
!data/processed_data/peptide_seq_list2.RDS
!data/external_data/HPPP_build2023-04.csv
!data/external_data/UniProt_ann_overlapping_proteins_2023_07_13.tsv

# Keep the folders themselves
!data/raw_data/.gitkeep
!data/metadata/.gitkeep
!data/external_data/.gitkeep
!data/processed_data/.gitkeep